# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

Some of the key takeaways from the course: 
* Popular languages for Data Science
* Commonly used libraries in Data Science
* Data Science Tools
* Some arithmatic expression examples in Python

* Some of the popular languages that Data Scientists use are:
  * Python
  * R
  * SQL
  * DAX
  * ...

* Some of the commonly used libraries used by Data Scientists include:
  * NumPy
  * Pandas
  * Matplotlib
  * Seaborn
  * Scikit-learn
  * TensorFlow
  * PyTorch
  *  SciPy

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| RStudio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5.

17.0

In [18]:
# This will convert 200 minutes to hours by diving by 60.

H = 200 // 60
M = 200 % 60

print(f"200 minutes = {H} hours and {M} minutes")

200 minutes = 3 hours and 20 minutes

## Author
Vahid Aataf